body {
    background-color: #e0e0eb;
}

h1{
  font: 2vw georgia, sans-serif;
}

input[type=submit] {
    padding:5px 15px;
    background:#7CFC00;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#textbox{
  margin:5px;
}

#delete{
  padding:5px 15px;
  background:#ff4d4d;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.deleteProduct:link, a.deleteProduct:visited {
    background-color: #f44336;
    color: black;
    width:45%;
    padding: 2px 2px 2px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: -10%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a:hover, a:active {
    background-color: red;
}

.flex-bigContainer{
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: -40px;

}

.flex-container{
    display:flex;
    width: 15%;
    background-color: #f0f0f5; /*Changes the color of the container*/
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.flex-item{
  color: black;
  font-size: 16px;
  display:inline-block;
  flex-wrap: wrap;
}

[role=image]{
  max-width: 100px;
  max-height: 100px;
}
