body {
    background-color: #e0e0eb;
}

h1{
  font: 2vw georgia, sans-serif;
}

input[type=submit] {
    padding:5px 15px;
    background:#7CFC00;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#textbox{
  margin:5px;
}

#delete{
  padding:5px 15px;
  background:#ff4d4d;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

a.deleteProduct:link, a.deleteProduct:visited {
    background-color: #f44336;
    color: black;
    width:45%;
    padding: 2px 2px 2px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: -20px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* display: inline-block; */
}

a:hover, a:active {
    background-color: red;
}

.flex-bigContainer{
    display:flex;
    /* width: 45%; */
    /* height: 100px; */
    /* background-color: #f0f0f5; /*Changes the color of the container*/
    /* flex-wrap: wrap;
    flex-direction: row; */
    flex-flow: row wrap;
    /* border: 1px solid black; */
    /* width:30%; */
    justify-content: flex-start;
    align-content: flex-start;

}

.flex-container{
    display:flex;
    width: 25%;
    /* height: 100px; */
    background-color: #f0f0f5; /*Changes the color of the container*/
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    /* width:30%; */
    justify-content: flex-start;
    align-content: flex-start;
    margin: 5px 5px 5px 5px;
    padding-left: 5px;
}

.flex-item{
  /* background-color: tomato; */
  /* padding: 5px; */
  /* width: 10%;
  height: 10%; */
  /* margin-top: 10px; */
  /* margin: 10px; */
  /* line-height: 15px; */
  color: black;
  /* font-weight: bold; */
  font-size: 16px;
  /* text-align: center; */
  display:inline-block;
  flex-wrap: wrap;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}
